html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(53, 121, 180);
}

img {
    width: 24px;
}

.container {
    display: grid;
    max-height: 100vh;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 4fr 4fr
}

.header {
    border: solid 2px black;
    grid-column: 2 / 4;
    grid-row: 1;
}

.header > .top-header {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.header > .top-header > .search-bar {
    border: solid 2px black;
    border-radius: 15px;
    min-width: 200px;
    display: flex;
    flex: 1;
}

.header > .bottom-header {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

button {
    padding: 10px 30px;
    border-radius: 20px;
    border: solid 1px blueviolet;
    background-color: blueviolet;
}

.sidebar {
    border: solid 2px black;
    background-color: aqua;
    grid-row: 1 / 4;
}

.projects {
    border: solid 2px black;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.announcements {
    border: solid 2px black;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.trending {
    border: solid 2px black;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}