html {
    margin: 0;
    padding: 0;
    --color-sidebar: #7dd3fc;
    --color-white: #fff;
    --background-color: #e2e8f0;
    --font-size-sidebar: 22px;
    --font-size-header: 18px;
    --font-size: 15px;
    --box-shadow: 2px 2px 4px rgb(87, 87, 87);
    --border-radius: 10px;
    --font-weight: 500;
    --left-border-color: coral;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

img {
    width: 32px;
    height: 32px;
}

h1 {
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: var(--font-weight);
}

h2 {
    font-weight: var(--font-weight);
}

h3 {
    font-weight: var(--font-weight);
    margin-bottom: 0;
}

/*container*/

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 4fr 4fr
}

/*header*/

.header {
    background-color: var(--color-white);
    box-shadow: 0 4px 2px -2px gray;
    font-weight: var(--font-weight);
    font-size: var(--font-size-header);
    grid-column: 2 / 4;
    grid-row: 1;
}

.header > .top-header {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    gap: 50px;
}


.header > .top-header > .top-header-left > #search-bar {
    border: 0;
    background-color: var(--color-sidebar);
    border-radius: 15px;
    min-width: 200px;
    max-width: 700px;
    display: flex;
    flex: 1;
}

.header > .top-header > .top-header-left {
    display: flex;
    gap: 30px;
    flex: 1;
    margin-left: 50px;
}

.header > .top-header > .top-header-right {
    display: flex;
    gap: 25px;
    margin-right: 50px;
}

.header > .bottom-header {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.header > .bottom-header > .bottom-header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-left: 50px;
}

.header > .bottom-header > .bottom-header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-right: 50px;
}

button {
    padding: 10px 30px;
    border-radius: 20px;
    border: solid 1px var(--color-sidebar);
    background-color: var(--color-sidebar);
    color: var(--color-white);
    font-size: 14px;
    font-weight: var(--font-weight);
}

/*sidebar*/

.sidebar {
    background-color: var(--color-sidebar);
    grid-row: 1 / 4;
    font-size: var(--font-size-sidebar);
    color: var(--color-white);
    font-weight: 700;
}

.sidebar > .title-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.sidebar > .title-sidebar > img {
    width: 48px;
    height: 48px;
}

.sidebar > .sidebar-list {
    margin-left: 30px;
}

.sidebar > .sidebar-list > * {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 25px;
    margin-top: 15px;
}

.sidebar > .sidebar-list > .settings {
    margin-top: 50px;
}

/*projects*/

.project {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.project > h1 {
    margin-left: 25px;
}

.project > .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 25px;
    gap: 25px;
}

.project > .projects > * {
    background-color: var(--color-white);
    min-height: 200px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    border-left: 5px solid;
    border-left-color: var(--left-border-color);
    font-size: var(--font-size);
}

.project > .projects > .project1 > * {
    margin-left: 20px;
    margin-right: 20px;
}

.project > .projects > .project1 > .image1 {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    gap: 10px;
}

.project > .projects > .project2 > * {
    margin-left: 20px;
    margin-right: 20px;
}

.project > .projects > .project2 > .image2 {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    gap: 10px;
}

.project > .projects > .project3 > * {
    margin-left: 20px;
    margin-right: 20px;
}

.project > .projects > .project3 > .image3 {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    gap: 10px;
}

.project > .projects > .project4 > * {
    margin-left: 20px;
    margin-right: 20px;
}

.project > .projects > .project4 > .image4 {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    gap: 10px;
}

.project > .projects > .project5 > * {
    margin-left: 20px;
    margin-right: 20px;
}

.project > .projects > .project5 > .image5 {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    gap: 10px;
}

.project > .projects > .project6 > * {
    margin-left: 20px;
    margin-right: 20px;
}

.project > .projects > .project6 > .image6 {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    gap: 10px;
}


/*announcements*/

.announcements {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.announcements > .para {
    border: solid 2px var(--color-white);
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    margin: 10px 20px;
    font-size: var(--font-size);
}

.announcements > h1 {
    margin-left: 20px;
}


.announcements > .para > .para1, .para2, .para3 {
    margin: 25px;
}

.announcements > .para > .line1, .line2 {
    border: 1px solid gray;
    margin: 0 25px;
}

/*trending*/

.trending {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.trending > h1 {
    margin-left: 20px;
}

.trending > .trendings {
    display: flex;
    flex-direction: column;
    border: solid 2px var(--color-white);
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    margin: 0 20px;
    font-size: var(--font-size);
}

.trending > .trendings > .trending1, .trending2, .trending3, .trending4 {
    display: flex;
    align-items: center;
    margin-left: 25px;
    gap: 20px;
    margin-top: 5px;
}



.trending > .trendings > .trending1 > .combine1 > p {
    margin: 5px;
}
.trending > .trendings > .trending2 > .combine2 > p {
    margin: 5px;
}
.trending > .trendings > .trending3 > .combine3 > p {
    margin: 5px;
}
.trending > .trendings > .trending4 > .combine4 > p {
    margin: 5px;
}